/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "red hat display";
  min-height: 100vh;
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(225, 100%, 94%);
  color: #333;
  line-height: 1.6;
}

.container-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}

.container-text {
  padding: 7%;
  text-align: center;
}

.container-text h2 {
  color: hsl(223, 47%, 23%);
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: 900;
}

.container-text p {
  max-width: 300px;
  margin: 0 auto;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
  margin-bottom: 25px;
}

/* ANNUAL PLAN */

.container-payment {
  background-color: hsl(225, 100%, 98%);
  max-width: 350px;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  padding: 5px 25px;
  align-items: center;
  justify-content: space-between;
}

.plan-box {
  display: flex;
  align-items: center;
  text-align: left;
}

.plan-box div {
  margin-left: 20px;
  line-height: 1.8;
  position: relative;
  top: 12px;
}

.plan-box div h4 {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  font-size: 15px;
}

/* BUTTONS */

.container-payment a {
  font-weight: 700;
  color: hsl(245, 75%, 52%);
}

.container-payment a:hover {
  text-decoration: none;
  color: hsl(224, 23%, 55%);
  transition: 0.3s;
}

.proceed-btn {
  text-decoration: none;
  display: block;
  color: #fff;
  background-color: hsl(245, 75%, 52%);
  padding: 1rem 0;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 15px;
  font-weight: 700;
  box-shadow: 0px 10px 20px hsla(224, 23%, 40%, 0.5);
  font-size: 13px;
}

.proceed-btn:hover {
  background-color: hsl(224, 23%, 55%);
  transition: 0.3s;
}

.cancel-btn {
  text-decoration: none;
  display: block;
  color: hsl(224, 23%, 55%);
  padding: 1rem 0;
  margin: 20px 0 0 0;
  font-weight: 700;
  font-size: 13px;
}

.cancel-btn:hover {
  color: #000;
  transition: 0.3s;
  cursor: pointer;
}
